body {
    margin: 0;
  }
  
  main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
  }
/*
  main {
    /*...Collapsed...
    overflow-y: auto;
    perspective: 2px; /* <-- This line 
  }
  */
  /*
  section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  */
  
  /*that one had a dot in front of section which I removed because I don't think it should have it and also I deleted the above section, most
  of which was supposed to be replicated*/
  section{
    /* Added */ 
    transform-style: preserve-3d;
  
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .no-parallax {
    background-color: #111;
    z-index: 999;
  }
  
  section h1 {
    text-align: center;
    font-size: 4rem;
    font-family: sans-serif;
  }
  
  .parallax h1 {
    width: 60%;
    font-size: 2rem;
  }

  .parallax::after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }
  /*
  .bg::after {
    background: url('https://picsum.photos/1080/720');
    background-size: cover;
  }
  */
  /*
  .bg::after {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('images/pink\ amethyst\ gemstone.jpg');
    background-size: cover;
  }
  */
  #amethyst::after {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('images/pink\ amethyst\ gemstone.jpg');
    background-size: cover;
  }

  #sparkler::after {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('images/sparkler.jpg');
    background-size: cover;
  }

  #bubble::after {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('images/single-soap-bubble.jpg');
    background-size: cover;
  }