@font-face {
    font-family: 'Timmana';
    src: url('Timmana.woff2') format('woff2'),
        url('Timmana.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

